main {
    width: 100%;
    height: 100vh;
    background-color: #463A41;
    position: relative;
}

/* CSS do gradiente copiado do figma */
.main-principal {
    display: block;
    position: relative;
    background-color: #F7F8F5;
    width: 1359px;
    height: 400px;
    top: 25px;
    margin: 0 auto;
    background: linear-gradient(230deg, #F7F8F5 -9.82%, rgba(255, 255, 255, 0.71875) -9.81%, rgba(255, 255, 255, 0) 67.96%), #463A41;
}

.h2-principal {
    position: absolute;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 80px;
    margin: 0;
    top: 32px;
    left: 6px;
}

.info-filme {
    position: absolute;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 14px;
    top: 114px;
    left: 12px;
}

.sinopse-filme {
    position: absolute;
    display: inline-block;
    width: 35%;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 14px;
    top: 199px;
    left: 12px;
}