/* ==== Início do body ==== */

/* Importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
/* Reset em configurações padrão do browser */
body {
    margin: 0;
    font-family: 'Alegreya Sans', monospace;
    letter-spacing: 1px;

}
/* ==== Início do header ==== */
.header-desktop{
    position: relative;
    width: 100%;
    height: 6vh;
    background-color: #503092;
}

.logo {
    display: inline-block;
}

.header-logo {
    width: auto;
    height: 4vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nav-desktop {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);

}

.nav-desktop ul {
    margin: 0;
    line-height: 1.15;
}

.nav-desktop li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.2em;
    font-variant: small-caps;
    font-family: 'Poppins', monospace;
    letter-spacing: -0.075px;
}

.nav-desktop a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-search-avatar {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.grid-toggle-avatar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0.5vw;
}

.toggle-modo-noturno {
    top: 50%;
    bottom: 50%;
}

.header-search {
    width: 15vw;
    height: 4vh;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    right: 4vw;
    margin-right: 2vw;
    border-width: 2px;
    border-color: white;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

.header-avatar {
    object-fit: cover;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
}

.header-icones {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    padding: 0;
}

.icone {
    display: grid;
    width: 100%;
    cursor: pointer;
    list-style-type: none;
}

.icones {
    display: inline-block;
    object-fit: cover;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
    margin: 25px auto;
}

/* CSS do gradiente copiado do figma */
.main-principal {
    display: block;
    position: relative;
    background-color: var(--primary-color); /*#F7F8F5;*/
    width: 85vw;
    height: 40vh;
    top: 25px;
    margin: 0 auto;
    background: linear-gradient(230deg, #F7F8F5 -9.82%, rgba(255, 255, 255, 0.71875) -9.81%, rgba(255, 255, 255, 0) 67.96%), #503092;
}

.h2-principal {
    position: absolute;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 80px;
    margin: 0;
    top: 32px;
    left: 6px;
}

.info-filme {
    position: absolute;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 14px;
    top: 114px;
    left: 12px;
}

.sinopse-filme {
    position: absolute;
    display: inline-block;
    width: 35%;
    color: #F7F8F5;
    font-weight: 400;
    font-size: 14px;
    top: 199px;
    left: 12px;
}

/* Estilização do destaque */

.carousel-inner {
    z-index: -1;
}

.carousel-caption {
    color: #F7F8F5;
}

 .caption-container {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 200px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
    background-color: #503092; 
}

.caption-container h1 {
    font-family: 'Poppins', monospace;
    letter-spacing: -0.75px;
}

/* Estilização jumbotron */

.padronizar-imagens {
    max-width: 200px;
    height: auto;
}
/* ==== Final do main ==== */

/* ==== Final da home ==== */

/* ==== Inicio da toons ==== */

.none {
    display: none;
}

.toons {
    background-color: var(--primary-color);
}

.toons h2 {
    margin-top: 0;
    padding: 1em 1em 0.2em;
    color: #FF66C4;
    font-family: 'Poppins', monospace;
    letter-spacing: -0.75px;
}

.toons h1 {
    font-family: 'Poppins', monospace;
    letter-spacing: -0.75px;
}

.list-container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.list-container-pesquisa {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.catalogo {
    display: flex;
    position: relative;
    padding: 1vw;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.catalogo-pesquisa {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: 33% 33% 33%;
    padding: 1vw;
}

.item {
    text-align: center;
    margin: 2vh 1vw 2vh 0;
    height: 200px;
    min-width: 28.67vw;
    max-width: 28.67vw;
    max-height: 30vh;
    transition: all ease-in-out .5s;
}

.item-pesquisa {
    text-align: center;
    margin: 2vh auto;
    height: 200px;
    min-width: 30vw;
    max-width: 30vw;
    max-height: 30vh;
    transition: all ease-in-out .5s;
}

.item:hover {
    margin-left: 4vw;
    margin-right: 4vw;
    transition: all ease-in-out .5s;
}

.item :hover .toons-desenhos {
    transform: scale(1.2);
}

.item-pesquisa :hover .toons-desenhos {
    transform: scale(1.1);
}

.toons-desenhos {
    width: 100%;
    height: 100%;
    border: 1px #000000 solid;
    border-radius: 8%;
    transition: all .5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 3.5em;
    color: lightgray;
    opacity: .8;
}

.arrow-left{
    left: 1vw;
}

.arrow-right{
    right: 1vw;
}

/* Elementos relacionados ao modal */
.btn-primary {
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
    border: 0;
}

.modal-content {
    padding: 20px;
    background-color: #503092;
    color: #F7F8F5;
}

/* ==== Fim da toons ==== */

/* ==== Início da time ==== */

.time {
    background-color: var(--primary-color);
}

.time h2 {
    margin-top: 0;
    padding: 1em 1em 0.2em;
    color: #FF66C4;
    font-family: 'Poppins', monospace;
    letter-spacing: -0.75px;
}

.time h1 {
    font-family: 'Poppins', monospace;
    letter-spacing: -0.75px;
}

.grid-imagem-direita {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: center;
    width: 98%;
    margin-bottom: 3%;
}

.item-texto-esquerda {
    padding: 3% 4% 6% 4%;
    text-align: justify;
}

.item-imagem-direita {
    background: #503092;
    padding: 6% 0 6% 0;
    text-align: center;
    font-family: 'Poppins', monospace;
    color: #FFEC3E;
}

.item-imagem-direita img {
    max-height: 15vh;
    width: auto;
    border-radius: 50px;
}

.grid-imagem-esquerda {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    width: 98%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.item-imagem-esquerda {
    background: #503092;
    padding: 6% 0 6% 0;
    text-align: center;
    font-family: 'Poppins', monospace;
    color: #FFEC3E;
}

.item-imagem-esquerda img {
    max-height: 15vh;
    width: auto;
    border-radius: 50px;
}

.item-texto-direita {
    padding: 3% 4% 6% 4%;
    text-align: justify;
}

/* ==== Footer ==== */

footer {
    position: absolute;
    text-align: center;
    background-color: #503092;
    margin: 0;
    width: 100%;
    padding: 1vh 0;
}

footer * {
    margin: 0;
}

footer p {
    color: #F7F8F5;
}

footer a , footer a:hover{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.icone-github {
    margin-left: .5em;
    width: 1.5em;
}

/* ==== Fim footer ==== */

/* Modo Noturno*/ 
#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #121212;
    --secondary-color: #fff;
}